.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.heading-primary {
  font-size: 2.8rem;
  cursor: pointer;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-selection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
.theme-icon {
  height: 1.5rem;
}
.theme-text {
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-width: 50em) {
  .heading-primary {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
  }
}
