<div class="country">
  <div class="flag-box">IMAGE</div>
  <div class="info-box">
    <h2 class="country__name">USA</h2>
    <div class="additional-info-box">
      <div class="additional-info">
        <span class="info-title">Population</span
        ><span class="info">100000</span>
      </div>
      <div class="additional-info">
        <span class="info-title">Region</span
        ><span class="info">North America</span>
      </div>
      <div class="additional-info">
        <span class="info-title">Capital</span
        ><span class="info">Washington DC</span>
      </div>
    </div>
  </div>
</div>
