<app-header></app-header>
<main class="main">
  <div class="container">
    <app-navigation></app-navigation>
    <div class="section__flags">
      @for (country of countries; track $index) {
      <app-country
        [selectedCountryName]="country.name"
        [backgroundImageUrl]="country.flag"
        [selectedCountryPopulation]="country.population"
        [selectedCountryRegion]="country.region"
        [selectedCountryCapital]="country.capital"
      ></app-country>
      }
    </div>
  </div>
</main>
