@if (!isSingleCountryDisplay()) {

<div class="section__flags">
  @for (country of countriesToDisplay(); track $index) {
  <app-country
    routerLink="/country"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [selectedCountryName]="country.name.common"
    [backgroundImageUrl]="country.flags.svg"
    [selectedCountryPopulation]="country.population"
    [selectedCountryRegion]="country.region"
    [selectedCountryCapital]="country.capital"
    [isInView]="intersection._isIntersecting"
    appObserveElement
    #intersection="intersection"
    [isContinuous]="false"
  ></app-country>

  }
  <router-outlet>
    <app-single-country-display
      [singleCountryData]="singleCountryData()"
      [singleCountryImagePath]="singleCountryImagePath()"
      [singleCountryData]="singleCountryData()"
      [singleCountryCurrencies]="singleCountryCurrencies()"
      [singleCountryLanguages]="singleCountryLanguages()"
      [singleCountryBorderingCountries]="singleCountryBorderingCountries()"
    ></app-single-country-display>
  </router-outlet>
</div>
} @else if (isSingleCountryDisplay()) { }
