<div class="country" (click)="onCountryClick()">
  <div class="flag-box" [style.background-image]="backgroundImage()"></div>
  <div class="info-box">
    <h2 class="country__name">{{ selectedCountryName() }}</h2>
    <div class="additional-info-box">
      <div class="additional-info">
        <span class="info-title">Population:</span
        ><span class="info">{{ selectedCountryPopulation() }}</span>
      </div>
      <div class="additional-info">
        <span class="info-title">Region:</span
        ><span class="info">{{ selectedCountryRegion() }}</span>
      </div>
      <div class="additional-info">
        <span class="info-title">Capital:</span
        ><span class="info">{{ selectedCountryCapital() }}</span>
      </div>
    </div>
  </div>
</div>
