.country {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(200, 200, 200, 0.6);
  overflow: hidden;
  cursor: pointer;
}
.flag-box {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 22.5rem;
  max-width: 30rem;
  height: 15rem;
}
