*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 0.625em;
  overflow-x: hidden;
}
body {
  font-family: "Nunito Sans";
  overflow-x: hidden;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.info-box {
  padding: 1.8rem;
  max-width: 100%;
}
.additional-info-box {
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.additional-info {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.info-title {
  font-weight: 600;
}

@media screen and (max-width: 50em) {
  .heading-primary {
    font-size: 5vw;
  }
  .flag-box {
    max-width: unset;
  }
}

.header.dark {
  background-color: hsl(209, 23%, 22%) !important;
  color: #fff;
}
.header.dark .theme-selection {
  color: #fff;
}
.main.dark {
  background-color: hsl(207, 26%, 17%) !important;
}
.main.dark .navigation__search::placeholder {
  color: #fff;
}
.main.dark .navigation__search,
.main.dark .navigation__selection,
.main.dark .country,
.main.dark .back-button {
  background-color: hsl(207, 26%, 22%) !important;
  box-shadow: 0 0 20px hsl(208, 23%, 15%);
  color: #fff;
}
.main.dark .search-icon {
  color: #fff !important;
}

.main.dark .section__singlecountry {
  background-color: transparent;
  color: #fff;
}

.main.dark .info-bordercountry {
  background-color: hsl(207, 26%, 22%) !important;
  color: #fff;
  box-shadow: 0 0 10px hsl(208, 23%, 10%) !important;
}
